/obj
./obj
./obj/Debug
/SLR_parser/obj/Debug
/SLR_parser/obj/Debug
./SLR_parser/obj/
/SLR_parser.csproj.AssemblyReference.cache

/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp